<p id="notice"><%= notice %></p>

<p>
  <strong>Academic year:</strong>
  <%= @academic_year.academic_year %>
</p>

<%= link_to 'Edit', edit_academic_year_path(@academic_year) %> |
<%= link_to 'Back', academic_years_path %>
