- if mode=="phase"
  li.list-group-item.clearfix O seu grupo de trabalho ainda não efetuou nenhuma entrega para esta fase.
- else  
  li.list-group-item.clearfix O seu grupo de trabalho ainda não efetuou nenhuma entrega para este projeto.
