<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instituition.name %>
</p>

<%= link_to 'Edit', edit_instituition_path(@instituition) %> |
<%= link_to 'Back', instituitions_path %>
