.login-wrapper
  top: 20%

input[type=radio]
  opacity: 1
  position: relative
  margin: 4px

a:-webkit-any-link
  text-decoration: none

.collapsed
  .panel-heading
    border-bottom: 1px solid #f5f5f5 !important

.dz-remove
  display: none !important

.chosen-container-multi ul.chosen-choices
  border-radius: 5px
  border: 1px solid #ccc

.container
  max-width: 100%
  padding-left: 0px 
  padding-right: 0px

.isotope-item
  width: 50%
