.panel
  background-color: #FFF
.hometheme
  ._login, ._signup
    margin-top: 13%

  .navbar-b h1
    font-family: 'Merienda One', 'cursives'
    padding: 0px
    margin: 0 0 0 10px
    font-size: 28px
    line-height: 1em
    height: 80px
    line-height: 80px

._logo
  background-image: image-url("logo-gtps.png")
  background-size: contain
  background-repeat: no-repeat
  height: 60px
  width: 60px
  margin: 15px
  float: left

.panel-heading a
  text-decoration: none !important

.sidebar
  margin: 135px 0 0 25px !important

.box strong
  color: #666 !important

body
  font-weight: normal
  padding-bottom: 100px
  background: url('sample_background3.png') #333 !important
  background-attachment: fixed !important
  background-size: cover !important
