.login-bg
  background-image: image-url("login-bg.jpg")
  background-size: cover
  background-position-x: center
  background-repeat: no-repeat

.btn-logout
  margin: 11px

.logo-login
  background-image: image-url('logo-gtps-full.png')
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  height: 70px
